/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: white;
}

.paticka {
	text-align: center;
	font-size: 14px;
	color: silver;
}

.paticka a {
	color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/
h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 28px;
	margin: 0;
}

p {
	margin: 0;
}


.recept {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	border: 1px solid white;
	
}

.horni-cast {
	display: flex;
	justify-content: space-between;
}
.hlavni {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/salat.jpg);
	background-size: cover;
	min-height: 200px;
	
}

.maly {
	min-height: 90px;
}

.maly h1 {
	font-size: 18px;
}

.maly1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/chlebicek.jpg);
	background-size: cover;
}

.maly2 {
	background-image:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/tacos.jpg);
	background-size: cover;
}

.maly3 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/cizrna.jpg);
	background-size: cover;
}

.maly4 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/burger.jpg);
	background-size: cover;
}

@media screen and (min-width: 480px) {
	.recepty {
		display: flex;
		flex-direction: column;
	}

	.hlavni {
		flex-basis: 100%;
		min-height: 250px;
	}

	.maly {
		min-height: 150px;
	}

	.male-recepty {
		display: flex;
		flex-wrap: wrap;
	}

	.recept {
		flex-basis: 50%;
		min-height: 150px;
		padding: 20px;
	}

	.hlavni h1 {
		font-size: 36px;
	}

	.maly h1 {
		font-size: 22px;
	}
}

@media screen and (min-width: 860px) {
	.recepty {
		flex-direction: row;
	}

	.hlavni h1 {
		font-size: 48px;
	}

	.maly h1 {
		font-size: 28px;
	}
	
	.hlavni {
		min-height: 400px;
		min-width: calc(100% / 3);
	}

	.maly {
		min-height: 200px;
	}
}